In [1]:
import pandas as pd 
import numpy as np 
import sklearn

In [2]:
train = pd.read_csv("/Users/kevinfinn/Downloads/titanic/train.csv")
test = pd.read_csv("/Users/kevinfinn/Downloads/titanic/test.csv")

In [3]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
y = enc.fit_transform(train.Survived)

In [6]:
PassengerId = test.PassengerId

In [7]:
X = train[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]
test = test[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]]

In [8]:
X.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [9]:
X.Pclass.value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [10]:
X.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [11]:
X.SibSp.value_counts()

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [12]:
X.Parch.value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [13]:
X.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [14]:
X.Parch.value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [15]:
categorical_columns = ['Pclass', 'Sex', 'Embarked', 'SibSp', 'Parch', 'Embarked']
for column in categorical_columns:
    X[column] = enc.fit_transform(X[column].astype(str))
    test[column] = enc.fit_transform(test[column].astype(str))

/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = enc.fit_transform(X[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[column] = enc.fit_transform(test[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = enc.fit_transform(X[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[column] = enc.fit_transform(test[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = enc.fit_transform(X[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[column] = enc.fit_transform(test[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = enc.fit_transform(X[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[column] = enc.fit_transform(test[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = enc.fit_transform(X[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[column] = enc.fit_transform(test[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[column] = enc.fit_transform(X[column].astype(str))
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_29810/1335762523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[column] = enc.fit_transform(test[column].astype(str))

In [16]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [17]:
model = XGBClassifier()
print(cross_val_score(model, X, y, cv=10).mean())

0.8148439450686642

In [18]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [19]:
np.arange(100,500,100)

array([100, 200, 300, 400])

In [46]:
params = {"max_depth": np.arange(4,7),
              "eta":np.arange(0.01,0.3,0.3),
              "gamma":np.arange(0,5),
              "n_estimators":np.arange(100,600,100)}

grid_search = GridSearchCV(estimator=model, param_grid=params, cv=5, scoring='recall', verbose=1)

grid_search.fit(X, y)

print("Best parameters found: ", grid_search.best_params_)
print("Best cross-validation score achieved: ", grid_search.best_score_)

Fitting 5 folds for each of 75 candidates, totalling 375 fits
Best parameters found:  {'eta': 0.01, 'gamma': 0, 'max_depth': 6, 'n_estimators': 400}
Best cross-validation score achieved:  0.7075021312872976

In [47]:
model = xgb.XGBClassifier(
    eta=0.01,
    gamma=1,
    max_depth=6,
    n_estimators=400,
    use_label_encoder=False, 
    eval_metric='logloss'    
)

model.fit(X, y)
Survived = model.predict(test)

In [48]:
Survived = pd.DataFrame({
    'PassengerId': PassengerId,
    'Survived': Survived
})

In [37]:
Survived.to_csv("/Users/kevinfinn/Downloads/titanic/Survived.csv", index=False)